
<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en-us"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="stopstalk">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="/stopstalk/static/materialize/css/materialize.min.css"/>
    <link rel="stylesheet" href="/stopstalk/static/css/stopstalk.css"/>
    <link rel="stylesheet" href="/stopstalk/static/fa/css/font-awesome.min.css" async/>

    <link rel="apple-touch-icon" sizes="57x57" href="/stopstalk/static/images/fav_assets/apple-icon-57x57.png?_rev=20200425190226">
    <link rel="apple-touch-icon" sizes="60x60" href="/stopstalk/static/images/fav_assets/apple-icon-60x60.png?_rev=20200425190226">
    <link rel="apple-touch-icon" sizes="72x72" href="/stopstalk/static/images/fav_assets/apple-icon-72x72.png?_rev=20200425190226">
    <link rel="apple-touch-icon" sizes="76x76" href="/stopstalk/static/images/fav_assets/apple-icon-76x76.png?_rev=20200425190226">
    <link rel="apple-touch-icon" sizes="114x114" href="/stopstalk/static/images/fav_assets/apple-icon-114x114.png?_rev=20200425190226">
    <link rel="apple-touch-icon" sizes="120x120" href="/stopstalk/static/images/fav_assets/apple-icon-120x120.png?_rev=20200425190226">
    <link rel="apple-touch-icon" sizes="144x144" href="/stopstalk/static/images/fav_assets/apple-icon-144x144.png?_rev=20200425190226">
    <link rel="apple-touch-icon" sizes="152x152" href="/stopstalk/static/images/fav_assets/apple-icon-152x152.png?_rev=20200425190226">
    <link rel="apple-touch-icon" sizes="180x180" href="/stopstalk/static/images/fav_assets/apple-icon-180x180.png?_rev=20200425190226">
    <link rel="icon" type="image/png" sizes="192x192"  href="/stopstalk/static/images/fav_assets/android-icon-192x192.png?_rev=20200425190226">
    <link rel="icon" type="image/png" sizes="32x32" href="/stopstalk/static/images/fav_assets/favicon-32x32.png?_rev=20200425190226">
    <link rel="icon" type="image/png" sizes="96x96" href="/stopstalk/static/images/fav_assets/favicon-96x96.png?_rev=20200425190226">
    <link rel="icon" type="image/png" sizes="16x16" href="/stopstalk/static/images/fav_assets/favicon-16x16.png?_rev=20200425190226">
    <link rel="manifest" href="/stopstalk/static/images/fav_assets/manifest.json?_rev=20200425190226">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/stopstalk/static/images/fav_assets/ms-icon-144x144.png?_rev=20200425190226">
    <meta name="theme-color" content="#ffffff">

    <link rel="search" type="application/opensearchdescription+xml" title="StopStalk User Search" href="/static/opensearch.xml" />
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="/stopstalk/static/js/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
        <script src="/stopstalk/static/js/respond-1.4.2.min.js"></script>
        <![endif]-->
        <!--
        <script type="text/javascript"><!--
            // These variables are used by the web2py_ajax_init function in web2py_ajax.js (which is loaded below).
            var w2p_ajax_confirm_message = "Are you sure you want to delete this object?";
            var w2p_ajax_disable_with_message = "Working...";
            var w2p_ajax_date_format = "%Y-%m-%d";
            var w2p_ajax_datetime_format = "%Y-%m-%d %H:%M:%S";
            var ajax_error_500 = 'An error occured, please <a href="/">reload</a> the page'
        </script>
        -->
<meta name="keywords" content="stopstalk, raj454raj, competitive programming, algorithms, algorithmic progress" />
<meta name="generator" content="" />
<meta name="author" content="StopStalk admin@stopstalk.com" />
<script src="/stopstalk/static/js/jquery.js" type="text/javascript"></script><link href="/stopstalk/static/css/calendar.css" rel="stylesheet" type="text/css" /><script src="/stopstalk/static/js/web2py.js" type="text/javascript"></script>
 <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    <script type="text/javascript">
        
        var clickedButton = {"heart_button": false, "onboarding_button": false};
        var isLoggedIn = ("False" === "True");
        var problemDifficultySubmitURL = '/problems/problem_difficulty';
        var markReadURL = "/user/mark_read.json";
        var loveEditorialURL = "/problems/love_editorial.json";
        var deleteEditorialURL = "/problems/delete_editorial";
        var getNextProblemURL = "/problems/get_next_problem_to_suggest.json";
        var problemDifficultyModalOpen = false;
        var showProblemDifficultyOnboarding = "False";
        var loggedInUserId = parseInt("100000000");
        var lastUserId = parseInt("27291");
        var thresholdUserId = lastUserId - 200; // Assuming less than 200 signups per day
    </script>
    
    <title>StopStalk</title>
    <link href="/stopstalk/static/css/style.css" rel="stylesheet"/>
    <meta name="description" content="A tool to analyse and improve your Competitive Programming Progress">

    
  </head>
  <body class="center Site">
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <!-- Navbar ======================================= -->
    <div class="flash alert alert-dismissable" style="display: none;"></div>
    <header>
    <ul id="welcome" class="dropdown-content" style="min-width: 190px; color: #536dfe;">
        
            <li><a href="/default/user/login" data-analytics-label="Nav Login" class="nav-dropdown">Login</a></li>
            <li><a href="/default/user/register" data-analytics-label="Nav Register" class="nav-dropdown">Register</a></li>
        
    </ul>
    <ul id="slide-out" class="side-nav">
        
            <table id="side-nav-table">
                
                    <tr class="side-nav-item" data-url="/user_editorials" data-analytics-label="Nav User editorials">
                        <td><a href="/user_editorials" class="side-nav-links"/></td>
                        <td><a href="/user_editorials" class="side-nav-links"><i class="fa fa-2x fa-users"></i></a></td>
                        <td><a href="/user_editorials" class="side-nav-links">User Editorials</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/search" data-analytics-label="Nav Search">
                        <td><a href="/search" class="side-nav-links"/></td>
                        <td><a href="/search" class="side-nav-links"><i class="fa fa-2x fa-search"></i></a></td>
                        <td><a href="/search" class="side-nav-links">Search Friends</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/contests" data-analytics-label="Nav Contests">
                        <td><a href="/contests" class="side-nav-links"/></td>
                        <td><a href="/contests" class="side-nav-links"><i class="fa fa-2x fa-calendar-check-o"></i></a></td>
                        <td><a href="/contests" class="side-nav-links">Upcoming Contests</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/problems/search" data-analytics-label="Nav Problem Search">
                        <td><a href="/problems/search" class="side-nav-links"/></td>
                        <td><a href="/problems/search" class="side-nav-links"><i class="fa fa-2x fa-tag"></i></a></td>
                        <td><a href="/problems/search" class="side-nav-links">Search Problems</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/leaderboard" data-analytics-label="Nav Leaderboard">
                        <td><a href="/leaderboard" class="side-nav-links"/></td>
                        <td><a href="/leaderboard" class="side-nav-links"><i class="fa fa-2x fa-bar-chart"></i></a></td>
                        <td><a href="/leaderboard" class="side-nav-links">Leaderboard</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/problems/trending" data-analytics-label="Nav Trending Problems">
                        <td><a href="/problems/trending" class="side-nav-links"/></td>
                        <td><a href="/problems/trending" class="side-nav-links"><i class="fa fa-2x fa-line-chart"></i></a></td>
                        <td><a href="/problems/trending" class="side-nav-links">Trending Problems</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/filters" data-analytics-label="Nav Filters">
                        <td><a href="/filters" class="side-nav-links"/></td>
                        <td><a href="/filters" class="side-nav-links"><i class="fa fa-2x fa-filter"></i></a></td>
                        <td><a href="/filters" class="side-nav-links">Submission Filters</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/testimonials" data-analytics-label="Nav Testimonials">
                        <td><a href="/testimonials" class="side-nav-links"/></td>
                        <td><a href="/testimonials" class="side-nav-links"><i class="fa fa-2x fa-heart"></i></a></td>
                        <td><a href="/testimonials" class="side-nav-links">Testimonials</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/updates" data-analytics-label="Nav Feature Updates">
                        <td><a href="/updates" class="side-nav-links"/></td>
                        <td><a href="/updates" class="side-nav-links"><i class="fa fa-2x fa-bullhorn"></i></a></td>
                        <td><a href="/updates" class="side-nav-links">Feature Updates</a></td>
                    </tr>
                
            </table>
        
    </ul>
    <nav style="background-color: #536dfe">
    <div class="nav-wrapper">
        <a id="open-side-nav" data-activates="slide-out" class="left"><i class="fa fa-bars fa-2x"></i></a>
        <a href="/" class="left" style="height: 100%; margin-left: 5px;">
            <img src="/stopstalk/static/images/StopStalk.png" style="margin-top: 2px; height: 60px; width: 200px; padding: 7px;"/>
        </a>
        <div class="right">
            <span class="left">
            </span>
            <a id="job-profile-cta" class="btn btn-default black-text" style="background-color: #f5f5f5; margin-right: 13px;" href="/job_profile" target="_blank">Job Profile</a>
            <ul class="right" style="float: left;">
                <li><a class="dropdown-button left" href="" data-activates="welcome"><i class="fa fa-sort-down fa-2x"></i></a></li>
            <!-- Dropdown Trigger -->
            </ul>
        </div>
    </div>
    </nav>
    </header>
    <!-- Masthead ===================================== -->
    
    
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <main class="Site-content">
    <div class="container-fluid">
      

      <div class="col-md-12">
        
        

<h1 class="center">
    StopStalk
</h1>
<div class="row center">
    <h5 class="header col s12 light">
        Stop stalking and start StopStalking
    </h5>
</div>
<div class="row">
    <a class="btn-large waves-effect waves-light yellow black-text" href="/default/user/register">
        Register
    </a>
    <a class="btn-large waves-effect waves-light yellow black-text" href="/default/user/login">
        Login
    </a>
</div>
<br/>
<h5>Understanding StopStalk</h5>
<br/>
<iframe width="711" height="400" src="https://www.youtube.com/embed/x28heyxFYE8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<div class="cd-container" id="cd-timeline">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img green">
            <img src="/stopstalk/static/images/svg/users.svg"/>
        </div>
        <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <span class="cd-date">
                <h4>
                    Make friends and code collectively
                </h4>
            </span>
            <p class="light">
                Stay motivated by seeing your friends competitive programming progress. Add friends to see their submissions on various Competitive Programming websites (currently Codeforces, Codechef, Spoj, HackerEarth, HackerRank, UVa).
            </p>
            <img class="materialboxed" src="/stopstalk/static/images/gifs/friends.gif"/>
        </div>
        <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img red">
            <img src="/stopstalk/static/images/svg/inbox.svg"/>
        </div>
        <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <span class="cd-date">
                <h4>
                    Get notified!
                </h4>
            </span>
            <p class="light">
                Get notifications of your friends' Day Streak everyday not just from a single Competitive Programming website but from all the sites.
            </p>
            <img class="materialboxed" src="/stopstalk/static/images/gifs/notifications.jpg?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img blue">
            <img src="/stopstalk/static/images/svg/user-secret.svg?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <span class="cd-date">
                <h4>
                    Add Custom Friends
                </h4>
            </span>
            <p class="light">
                What if your friend is not on StopStalk? - You should invite him / her or just add a Custom Friend to track their progress 
                if you know there handles across various Competitive Programming websites.
            </p>
            <img class="materialboxed" src="/stopstalk/static/images/gifs/customfriends.gif?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img orange">
            <img src="/stopstalk/static/images/svg/calendar-check-o.svg?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <span class="cd-date">
                <h4>
                    Upcoming contests
                </h4>
            </span>
            <p class="light">
                List of contests on various Competitive programming websites and an option to add a reminder half-an-hour before the contest starts.
            </p>
            <img class="materialboxed" src="/stopstalk/static/images/gifs/contestpage.gif?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cyan">
            <img src="/stopstalk/static/images/svg/eye.svg?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <span class="cd-date">
                <h4>
                    View/Copy/Download submissions
                </h4>
            </span>
            <p class="light">
                Filter out the submission that you need and directly View / Download / Copy submission directly from StopStalk.
            </p>
            <img class="materialboxed" src="/stopstalk/static/images/gifs/viewdownload.gif?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img purple">
            <img src="/stopstalk/static/images/svg/bar-chart.svg?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <span class="cd-date">
                <h4>
                    Leaderboard
                </h4>
            </span>
            <p class="light">
                A carefully crafted formula is used to compute
                <b>
                    StopStalk Rating
                </b>
                and rank users on the basis of this rating. One rating cumulative of all the 6 Competitive Programming websites. This rating incorporates submissions per day and your rating changes everyday, which keeps you motivated to stay connected to Competitive Programming :)
            </p>
            <img class="materialboxed" src="/stopstalk/static/images/gifs/leaderboardpage.gif?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img lime">
            <img src="/stopstalk/static/images/svg/line-chart.svg?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <span class="cd-date">
                <h4>
                    Trending problems
                </h4>
            </span>
            <p class="light">
                What are the problems your friends are solving across these sites ? What are globally trending problems that other coders are solving ? We just got a list of such problems.
            </p>
            <img class="materialboxed" src="/stopstalk/static/images/gifs/trending.gif?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cyan">
            <img src="/stopstalk/static/images/svg/tags.svg?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <span class="cd-date">
                <h4>
                    Tag Search
                </h4>
            </span>
            <p class="light">
                Why go only to a specific site and search problems with specific tags ? Search across such sites and see the number of submissions, accuracy, who solved them, tags, etc. Search any tag and get all the problems with that tag.
            </p>
            <img class="materialboxed" src="/stopstalk/static/images/gifs/tagpage.gif?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img pink">
            <img src="/stopstalk/static/images/svg/filter.svg?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <span class="cd-date">
                <h4>
                    Filters
                </h4>
            </span>
            <p class="light">
                Accurately filter out submissions you are looking for across your friends or globally. The filters include user name, problem name, submission status, language of submission, submission site, start and end date.
            </p>
            <img class="materialboxed" src="/stopstalk/static/images/gifs/filterpage.gif?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img deep-purple accent-4">
            <img src="/stopstalk/static/images/svg/user.svg?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-img -->
        <div class="cd-timeline-content">
            <span class="cd-date">
                <h4>
                    User Profile
                </h4>
            </span>
            <p class="light">
                A unique and cumulative profile page across Competitive programming websites with overall accuracy, sitewise accuracy, streaks, contest rating graphs and calendar of submissions.
            </p>
            <img class="materialboxed" src="/stopstalk/static/images/gifs/profilepage.gif?_rev=20200525084052"/>
        </div>
        <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->
</div>
<!-- cd-timeline -->

        
      </div>

      

    </div>
    <div id="download-submission-modal" class="modal">
        <div class="modal-content">
            <h4>Download submission</h4>
            <p>You are just one click away from downloading the solution. Please enter the filename you want the submission to be downloaded as.</p>
            <div class="row">
                <div class="input-field col offset-s3 s6">
                    <input id="file_name" type="text">
                    <label for="file_name">File Name</label>
                </div>
            </div>
            <div class="row">
                <a class="btn waves-light waves-effect disabled" id="final-download-button">Download</a>
            </div>
        </div>
    </div>

    <div id="problem-difficulty-modal" class="modal" style="max-height: 80%; width: 60%;">
        <div class="modal-content center">
            <div id="problem-difficulty-actual-content">
                <h4 id="problem-difficulty-title"></h4>
                <form id="problem-difficulty-modal-form" data-problem="">
                    <div style="display: inline-flex;">
                        <div class="difficulty-list-item">
                            <input name="problem_difficulty_value" type="radio" id="difficulty-very-easy" value="1" required/>
                            <label for="difficulty-very-easy">Very Easy</label>
                        </div>
                        <div class="difficulty-list-item">
                            <input name="problem_difficulty_value" type="radio" id="difficulty-easy" value="2"/>
                            <label for="difficulty-easy">Easy</label>
                        </div>
                        <div class="difficulty-list-item">
                            <input name="problem_difficulty_value" type="radio" id="difficulty-medium" value="3"/>
                            <label for="difficulty-medium">Medium</label>
                        </div>
                        <div class="difficulty-list-item">
                            <input name="problem_difficulty_value" type="radio" id="difficulty-hard" value="4"/>
                            <label for="difficulty-hard">Hard</label>
                        </div>
                        <div class="difficulty-list-item">
                            <input name="problem_difficulty_value" type="radio" id="difficulty-very-hard" value="5"/>
                            <label for="difficulty-very-hard">Very Hard</label>
                        </div>
                    </div>
                </form>
            </div>
            <div id="problem-difficulty-all-caught-up" class="hide">
                <h4>All caught up!</h4>
                <p>Solve more problems and we will show you more here!</p>
            </div>
            <div class="modal-footer">
                <button id="skip-this-problem" class="waves-effect orange lighten-5 waves-blue btn-flat">Skip this</button>
                <button id="problem-difficulty-later" class="modal-action modal-close waves-effect blue lighten-5 waves-blue btn-flat">Later</button>
            </div>
        </div>
    </div>

    <div id="view-submission-modal" class="modal">
        <div class="modal-content">
            <h4>View submission</h4>

                <button id="copy-to-clipboard" class="btn btn-default waves-light waves-effect green hide">Copy to Clipboard</button>
                <div id="view-submission-preloader" class="preloader-wrapper big active">
                  <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>

                  <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>

                  <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>

                  <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>

            <br/>
            <pre id="view-submission-pre" class="hide"></pre>
            <a id="link-to-site" class="btn btn-default waves-light waves-effect" href="" target="_blank"></a>

            <p>You are just one click away from downloading the solution. Please enter the filename you want the submission to be downloaded as.</p>
            <div class="row">
                <div class="input-field col offset-s3 s6">
                    <input id="view_download_file_name" type="text">
                    <label for="view_download_file_name">File Name</label>
                </div>
            </div>
            <div class="row">
                <a class="btn waves-light waves-effect disabled" id="final-view-download-button">Download</a>
            </div>
        </div>
    </div>
    </main>
    <footer class="page-footer" style="background-color: #536dfe;">
        <div class="footer-copyright">
            <div class="container" style="margin: auto; width: 100%;">
                <div class="left"> © 2015-2020 StopStalk </div>
                <div class="right">
                    <span><a id="footer-media-kit" href="https://github.com/stopstalk/media-resources" style="color: white;" target="_blank">Media Kit</a></span>
                    <span> | </span>
                    <span><a id="footer-faqs" href="/faq" style="color: white;" target="_blank">FAQs</a></span>
                    <span> | </span>
                    <span><a id="footer-contact-us" href="/contact_us" style="color: white;" target="_blank">Contact Us</a></span>
                    <span> | </span>
                    <span><a id="footer-stopstalk-status" href="https://status.stopstalk.com" style="color: white;" target="_blank">Status</a></span>
                    <span> | </span>
                    <span><a id="footer-privacy-policy" href="/privacy_policy" style="color: white;" target="_blank">Privacy Policy</a></span>
                    <span> | </span>
                    <span>Carefully crafted by: <a id="footer-raj454raj" href="http://www.raj454raj.com/" style="color: white;" target="_blank">Raj Patel</a></span>
                </div>
            </div>
        </div>
    </footer>

    
    
    
        
    

    
        
            
        
            
        
            
        
    
    <div class="fixed-action-btn click-to-toggle vertical" style="bottom: 137px; right: 24px;">
        <a class="btn-floating btn-large pink accent-3 pulse" id="heart-button">
            <i class="fa fa-heart"></i>
        </a>
        <ul style="pointer-events: none;">
            <li>
                <a id="heart-facebook-group" class="btn-floating" style="background-color: #f7bd0e; pointer-events: all; transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;" target="_blank" href="https://www.facebook.com/groups/stopstalk">
                    <i class="fa fa-users"></i>
                </a>
            </li>
            <li>
                <a id="heart-facebook" class="btn-floating indigo darken-4" style="pointer-events: all; transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;" target="_blank" href="https://www.facebook.com/stopstalkcommunity/"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a id="heart-twitter" class="btn-floating blue lighten-1" style="pointer-events: all; transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;" target="_blank" href="https://twitter.com/stop_stalk"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a id="heart-github" class="btn-floating black"  style="pointer-events: all; transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;" target="_blank" href="https://github.com/stopstalk/stopstalk-deployment"><i class="fa fa-github"></i></a>
            </li>
        </ul>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-small green pulse" id="explain-problem-difficulty" style="bottom: 70px; right: 10px;" target="_blank"><i class="fa fa-edit"></i></a>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-small orange pulse" style="bottom: 26px; right: 10px;" target="_blank" href="/get_started" id="onboarding-button"><i class="fa fa-question-circle"></i></a>
    </div>
    <!-- The javascript =============================== -->
    <script src="/stopstalk/static/materialize/js/materialize.min.js"></script>
    <script src="/stopstalk/static/js/run_prettify.min.js" async></script>
    <script src="/stopstalk/static/js/web2py-bootstrap3.js" async></script>
    <script src="/stopstalk/static/js/calendar.js" async></script>

    
    <!-- Analytics ==================================== -->
    
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
               (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            if("False" === "True") {
                ga('create', 'UA-71263752-1', 'auto', {userId: 'None'});
            } else {
                ga('create', 'UA-71263752-1', 'auto');
            }
            ga('send', 'pageview');
        </script>
        <script src="/stopstalk/static/js/appjs/google_analytics.js"></script>
    
    <script type="text/javascript">
        var addTodoURL = "/problems/add_todo_problem";
    </script>
    <script src="/stopstalk/static/js/main.js"></script> <!-- Resource jQuery -->
    <script type="text/javascript" src="/stopstalk/static/js/appjs/layout.js"></script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.stopstalk.com",
      "logo": "https://www.stopstalk.com/static/images/stopstalk-logo.png",
      "sameAs" : [
            "https://www.facebook.com/stopstalkcommunity/",
            "https://twitter.com/stop_stalk",
            "https://plus.google.com/110575194069678651985",
            "https://github.com/stopstalk/stopstalk-deployment"
      ]
    }
    </script>
  </body>
</html>
