<!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <!-- Navbar ======================================= -->
    <div class="flash alert alert-dismissable" style="display: none;"></div>
    <header>
    <ul id="welcome" class="dropdown-content" style="min-width: 190px; color: #536dfe;">
        
            <li><a href="/default/user/login" data-analytics-label="Nav Login" class="nav-dropdown">Login</a></li>
            <li><a href="/default/user/register" data-analytics-label="Nav Register" class="nav-dropdown">Register</a></li>
        
    </ul>
    <ul id="slide-out" class="side-nav">
        
            <table id="side-nav-table">
                
                    <tr class="side-nav-item" data-url="/user_editorials" data-analytics-label="Nav User editorials">
                        <td><a href="/user_editorials" class="side-nav-links"/></td>
                        <td><a href="/user_editorials" class="side-nav-links"><i class="fa fa-2x fa-users"></i></a></td>
                        <td><a href="/user_editorials" class="side-nav-links">User Editorials</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/search" data-analytics-label="Nav Search">
                        <td><a href="/search" class="side-nav-links"/></td>
                        <td><a href="/search" class="side-nav-links"><i class="fa fa-2x fa-search"></i></a></td>
                        <td><a href="/search" class="side-nav-links">Search Friends</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/contests" data-analytics-label="Nav Contests">
                        <td><a href="/contests" class="side-nav-links"/></td>
                        <td><a href="/contests" class="side-nav-links"><i class="fa fa-2x fa-calendar-check-o"></i></a></td>
                        <td><a href="/contests" class="side-nav-links">Upcoming Contests</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/problems/search" data-analytics-label="Nav Problem Search">
                        <td><a href="/problems/search" class="side-nav-links"/></td>
                        <td><a href="/problems/search" class="side-nav-links"><i class="fa fa-2x fa-tag"></i></a></td>
                        <td><a href="/problems/search" class="side-nav-links">Search Problems</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/leaderboard" data-analytics-label="Nav Leaderboard">
                        <td><a href="/leaderboard" class="side-nav-links"/></td>
                        <td><a href="/leaderboard" class="side-nav-links"><i class="fa fa-2x fa-bar-chart"></i></a></td>
                        <td><a href="/leaderboard" class="side-nav-links">Leaderboard</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/problems/trending" data-analytics-label="Nav Trending Problems">
                        <td><a href="/problems/trending" class="side-nav-links"/></td>
                        <td><a href="/problems/trending" class="side-nav-links"><i class="fa fa-2x fa-line-chart"></i></a></td>
                        <td><a href="/problems/trending" class="side-nav-links">Trending Problems</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/filters" data-analytics-label="Nav Filters">
                        <td><a href="/filters" class="side-nav-links"/></td>
                        <td><a href="/filters" class="side-nav-links"><i class="fa fa-2x fa-filter"></i></a></td>
                        <td><a href="/filters" class="side-nav-links">Submission Filters</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/testimonials" data-analytics-label="Nav Testimonials">
                        <td><a href="/testimonials" class="side-nav-links"/></td>
                        <td><a href="/testimonials" class="side-nav-links"><i class="fa fa-2x fa-heart"></i></a></td>
                        <td><a href="/testimonials" class="side-nav-links">Testimonials</a></td>
                    </tr>
                
                    <tr class="side-nav-item" data-url="/updates" data-analytics-label="Nav Feature Updates">
                        <td><a href="/updates" class="side-nav-links"/></td>
                        <td><a href="/updates" class="side-nav-links"><i class="fa fa-2x fa-bullhorn"></i></a></td>
                        <td><a href="/updates" class="side-nav-links">Feature Updates</a></td>
                    </tr>
                
            </table>
        
    </ul>
    <nav style="background-color: #536dfe">
    <div class="nav-wrapper">
        <a id="open-side-nav" data-activates="slide-out" class="left"><i class="fa fa-bars fa-2x"></i></a>
        <a href="/" class="left" style="height: 100%; margin-left: 5px;">
            <img src="/stopstalk/static/images/StopStalk.png" style="margin-top: 2px; height: 60px; width: 200px; padding: 7px;"/>
        </a>
        <div class="right">
            <span class="left">
            </span>
            <a id="job-profile-cta" class="btn btn-default black-text" style="background-color: #f5f5f5; margin-right: 13px;" href="/job_profile" target="_blank">Job Profile</a>
            <ul class="right" style="float: left;">
                <li><a class="dropdown-button left" href="" data-activates="welcome"><i class="fa fa-sort-down fa-2x"></i></a></li>
            <!-- Dropdown Trigger -->
            </ul>
        </div>
    </div>
    </nav>
    </header>